.button {
  @include font-accent-regular(16px, 20px, $color--accent);
  text-transform: uppercase;
  text-decoration: none;

  text-align: center;

  display: block;
  width: 100%;

  padding-top: 7px;
  padding-bottom: 7px;

  background-color: $background-color--accent;
  border: none;

  &:hover,
  &:focus {
    background-color: $background-color--button-focus;
  }

  &:active {
    background-color: $background-color--button-focus;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: unset;
  }

  &--secondary {
    color: $color--main;

    background-color: $background-color--secondary;

    padding-top: 11px;
    padding-bottom: 9px;

    display: block;
    width: 100%;

    &:hover,
    &:focus {
      background-color: $background-color--button-secondary-focus;
    }

    &:active {
      background-color: $background-color--button-secondary-focus;
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &--tagline {
    font-size: 14px;
    line-height: 18px;

    padding-top: 10px;
    padding-bottom: 12px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      padding: 18px 26px;
    }
  }

  &--form {
    padding-top: 11px;
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      font-size: 20px;

      width: 282px;

      padding-top: 17px;
      padding-bottom: 15px;
    }

    @media (min-width: $desktop-width) {
      width: 568px;
    }
  }

  &--product {
    padding-top: 11px;
    padding-bottom: 9px;
  }
}
