.button {
  @include font-accent-regular(16px, 20px, $color--accent);
  text-transform: uppercase;
  text-decoration: none;

  text-align: center;

  display: block;
  width: 100%;

  padding-top: 7px;
  padding-bottom: 7px;

  background-color: $background-color--accent;
  border: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: unset;
  }

  &--secondary {
    color: $color--main;

    background-color: $background-color--secondary;

    display: block;
    width: 100%;
  }

  &--tagline {
    font-size: 14px;
    line-height: 18px;

    padding-top: 10px;
    padding-bottom: 12px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      padding: 14px 26px;
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      width: 282px;

      padding-top: 14px;
      padding-bottom: 14px;
    }

    @media (min-width: $desctop-width) {
      width: 568px;
    }
  }
}
