.case-card {
  background-color: $background-color--secondary;

  padding-top: 29px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 53px;
    padding-left: 53px;
  }
}

.case-card__title {
  @include font-accent-regular(24px, 37px, $color--secondary);
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 30px;
  padding-left: 71px;

  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;

    background-color: $background-color--accent;
    border-radius: 50%;

    display: inline-block;
    position: absolute;
    left: 2px;
    top: -5px;
  }

  &--case-slim::after {
    @include pseudo(url("../img/cat-slim.svg"));
    width: 50px;
    height: 53px;

    left: 9px;
    top: -8px;
  }

  &--case-pro::after {
    @include pseudo(url("../img/cat-pro.svg"));
    width: 67px;
    height: 28px;

    left: -7px;
    top: 5px;
  }
}

.case-card__text {
  padding-bottom: 22px;
  margin: 0;
  margin-bottom: 19px;

  border-bottom: 1px solid $color--border-main;

  @media (min-width: $tablet-width) {
    color: $color--secondary;
  }

  &--case-slim {
    @media (min-width: $tablet-width) {
      width: 377px;

      border-bottom: none;
    }

    @media (min-width: $desctop-width) {
      width: auto;
    }
  }

  &--case-pro {
    @media (min-width: $tablet-width) {
      width: 342px;

      border-bottom: none;
    }

    @media (min-width: $desctop-width) {
      width: auto;
    }
  }
}

.case-card__link {
  @include font-accent-regular(16px, 16px, $color--secondary);
  text-transform: uppercase;
  text-decoration: none;

  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;

    $size: 6px;

    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color--secondary;
    margin-right: -$size;

    right: -32px;
    bottom: 6px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;

    right: -35px;
    bottom: 11px;

    width: 20px;
    height: 2px;
    background-color: $color--secondary;
  }
}
