.catalog__title {
  margin-top: 27px;
  margin-bottom: 41px;
}

.catalog__list {
  @include list-reset();
}

.catalog__item {
  max-width: 727px;
  margin: 0 auto;

  padding-top: 19px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;

  border-top: 1px solid #ebebeb;

  &--latest-products {
    border-bottom: 1px solid #ebebeb;
  }
}
