.container {
  min-width: 320px;
  padding: 0 $container-padding;

  @media (min-width: $tablet-width) {
    padding: 0 $container-padding--tablet;
  }

  @media (min-width: $desctop-width) {
    margin: 0 auto;
    max-width: $desctop-max-width;
  }

  &--narrow {
    @media (min-width: $tablet-width) {
      padding: 0 $container-padding--tablet + 40;
    }

    @media (min-width: $desctop-width) {
      padding: 0 $container-padding--tablet;
    }
  }
}
