.contacts {
  @media (min-width: $desctop-width) {
    padding-top: 66px;
    padding-right: 89px;
    padding-bottom: 59px;
    padding-left: 76px;
  }
}

.contacts__text {
  display: flex;
  justify-content: space-between;
}

.contacts__headline {
  @include font-accent-regular(16px, 18px, $color--main-secondary);
  text-transform: uppercase;

  width: 140px;
  min-width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;

    width: 170px;
    min-width: 170px;
    margin-right: 87px;
  }
}
