.copyright__link {
  @include font-main(16px, 18.4px, $color--main);
  text-decoration: none;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.copyright__icon {
  color: $color--icon;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
  }
}
