.example {
  background-color: $background-color--secondary-accent;

  padding-top: 27px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    background-color: $background-color--main;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;

    margin: 0 auto;
    max-width: $desktop-max-width;

    padding-left: 30px;
  }
}

.example__text-content {
  padding-left: $container-padding;
  padding-right: $container-padding;

  @media (min-width: $tablet-width) {
    padding-left: $container-padding--tablet;
    padding-right: $container-padding--tablet;

    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;

    z-index: 1;

    margin-right: 113px;
  }
}

.example__title {
  @include font-accent-regular($font-size-h2--accent-regular, $line-height-h2--accent-regular, $color--secondary);

  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-h2--accent-regular--tablet;
    line-height: $line-height-h2--accent-regular--tablet;

    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 148px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 68px;
  }
}

.example__stats {
  margin-bottom: 42px;
}

.example__slider {
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 32px;
    margin-top: -55px;
  }
}
