.features__title {
  @include font-accent-regular($font-size-h2--accent-regular, $line-height-h2--accent-regular, $color--secondary);

  margin: 0;
  margin-bottom: 33px;
}

.features__list {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.features__item {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desctop-width) {
    width: 25%;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 20px;
}
