.features {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color--border-secondary;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 0;
  }
}

.features__title {
  @include font-accent-regular($font-size-h2--accent-regular, $line-height-h2--accent-regular, $color--secondary);

  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-h2--accent-regular--tablet;
    line-height: $line-height-h2--accent-regular--tablet;

    margin-bottom: 42px;
  }
}

.features__list {
  @include list-reset();
  counter-reset: features-list-counter;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 19px;
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    height: 280px;

    margin-top: 25px;

    position: relative;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:nth-child(2n+1) {
      margin-right: 139px;
    }

    &::before {
      @include font-accent-regular(280px, 280px, $background-color--secondary);

      content: counter(features-list-counter);
      counter-increment: features-list-counter;

      position: absolute;
      top: -34px;
      left: 112px;
    }

    &:nth-child(1)::before {
      left: 118px;
    }
  }

  @media (min-width: $tablet-width + 1) {
    width: 50%;

    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.features__text {
  min-height: 60px;
  margin: 0;

  padding-left: 80px;
  padding-top: 7px;

  position: relative;

  @media (min-width: $tablet-width) {
    width: 245px;

    position: relative;
    z-index: 1;

    padding-left: 0;
    padding-top: 116px;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;

    background-color: $background-color--accent;

    position: absolute;
    left: 0;
    top: 5px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--icon-leaf::after {
    @include pseudo(url("../img/icon-leaf.svg"));
    width: 30px;
    height: 32px;

    left: 15px;
    top: 20px;

    @media (min-width: $tablet-width) {
      left: 24px;
      top: 30px;
    }
  }

  &--icon-glass::after {
    @include pseudo(url("../img/icon-glass.svg"));
    width: 29px;
    height: 31px;

    left: 15px;
    top: 19px;

    @media (min-width: $tablet-width) {
      left: 25px;
      top: 29px;
    }
  }

  &--icon-cutlery::after {
    @include pseudo(url("../img/icon-cutlery.svg"));
    width: 25px;
    height: 30px;

    left: 18px;
    top: 21px;

    @media (min-width: $tablet-width) {
      left: 28px;
      top: 30px;
    }
  }

  &--icon-clock::after {
    @include pseudo(url("../img/icon-clock.svg"));
    width: 32px;
    height: 33px;

    left: 14px;
    top: 19px;

    @media (min-width: $tablet-width) {
      left: 24px;
      top: 28px;
    }
  }
}
