.features__title {
  @include font-accent-regular($font-size-h2--accent-regular, $line-height-h2--accent-regular, $color--secondary);

  margin: 0;
  margin-bottom: 33px;
}

.features__list {
  @include list-reset();
}

.features__item:not(:last-child) {
  margin-bottom: 20px;
}
