.footer {
  padding-top: 39px;
  padding-bottom: 22px;
}

.footer__logo-link-wrapper {
  border-bottom: 1px solid $color--border-main;
}

.footer__social {
  border-bottom: 1px solid $color--border-main;
}
