.form-list {
  @include list-reset();

  &--row {
    margin-top: 5px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;

      margin-top: -13px;
    }
  }

  &--with-border {
    @media (min-width: $tablet-width) {
      border: 1px solid $color--border-input;

      padding-top: 27px;
      padding-right: 28px;
      padding-bottom: 28px;
      padding-left: 28px;
    }

    .form-list__item:last-child {
      margin-bottom: 0;
    }
  }
}

.form-list__item {
  position: relative;
  margin-bottom: 24px;

  &--row {
    margin-bottom: 5px;

    @media (min-width: $tablet-width) {
      width: 344px;

      margin-bottom: 13px;
    }

    @media (min-width: $desktop-width) {
      &:not(:last-child) {
        width: 325px;
      }

      &:last-child {
        width: unset;
      }
    }
  }
}

.form-list__label {
  @include font-accent-regular(16px, 18px, $color--main-accent);
  text-transform: uppercase;
  cursor: pointer;

  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--accent {
    color: $color--secondary;
  }
}

.form-list__input {
  &--radio + label {
    padding-left: 46px;

    @media (min-width: $tablet-width) {
      padding-left: 60px;
    }
  }

  &--radio + label::before {
    @include pseudo();
    top: -6px;
    left: 0;

    width: 29px;
    height: 29px;

    background-color: $background-color--main;

    border-width: 8px;
    border-style: solid;
    border-color: $background-color--main;
    border-radius: 50%;

    box-shadow: 0 0 0 1px $color--border-accent;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px $color--border-list-input--hover;
    }

    @media (min-width: $tablet-width) {
      top: -4px;

      width: 39px;
      height: 39px;

      border-width: 11px;
    }
  }

  &--radio:checked + label::before {
    background-color: $background-color--accent;
  }

  &--checkbox + label {
    padding-left: 46px;
    padding-bottom: 19px;

    @media (min-width: $tablet-width) {
      padding-left: 59px;
      padding-bottom: 29px;
    }
  }

  &--checkbox + label::before {
    @include pseudo();
    top: -6px;
    left: 0;

    width: 30px;
    height: 30px;

    border-width: 1px;
    border-style: solid;
    border-color: $color--border-accent;

    &:hover,
    &:focus {
      border-color: $color--border-list-input--hover;
    }

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &--radio:disabled + label,
  &--checkbox:disabled + label {
    opacity: 0.3;
  }
}
