.form-fieldset .form-fieldset__field {
  margin-top: 0;
  margin-bottom: 13px;
}

.form-fieldset__field {
  display: flex;
  flex-direction: row;
}

.form-fieldset__label {
  margin-right: 15px;

  &--closer-to-field {
    margin-right: 12px;
  }
}
