.form-list {
  @include list-reset();

  &--row {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.form-list__item {
  margin-bottom: 13px;

  &--row {
    @media (min-width: $tablet-width) {
      width: 50%;
    }

    @media (min-width: $desctop-width) {
      width: 25%;
    }
  }
}

.form-list__label {
  @include font-accent-regular(16px, 18px, $color--main-accent);
  text-transform: uppercase;

  &--accent {
    color: $color--secondary;
  }
}
