.form__desktop-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    max-width: $desktop-max-width;
  }
}

.form__desktop-col {
  min-width: 320px;

  padding-top: 0;
  padding-right: $container-padding;
  padding-bottom: 0;
  padding-left: $container-padding;

  @media (min-width: $desktop-width) {
    width: 600px;
  }

  &--with-border {
    padding-bottom: 24px;
    border-bottom: 1px solid $color--border-main;

    @media (min-width: $tablet-width) {
      border-bottom: 0;
    }
  }

  &--left {
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      padding-left: $container-padding--tablet + $container-padding-narrow--value;
      padding-right: $container-padding--tablet + $container-padding-narrow--value;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-left: $container-padding--tablet;
      padding-right: 0;
      margin-bottom: 0;
    }
  }

  &--right {
    @media (min-width: $tablet-width) {
      padding-left: $container-padding--tablet + $container-padding-narrow--value;
      padding-right: $container-padding--tablet + $container-padding-narrow--value;
    }

    @media (min-width: $desktop-width) {
      padding-right: $container-padding--tablet;
      padding-left: 0;
    }
  }
}

.form__introduction {
  @include font-accent-regular(14px, 18px, $color--secondary);
  text-transform: uppercase;

  margin-bottom: 39px;

  width: 270px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 67px;

    width: 325px;
  }
}

.form__fieldset {
  border: 0;

  padding: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;

  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 41px;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      margin-bottom: 87px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 68px;
    }
  }

  &--comment {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 83px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 85px;
    }
  }

  &--additional {
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      margin-bottom: 16px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 23px;
    }
  }
}

.form__legend {
  border-top: 2px solid $background-color--accent;
  display: block;
  width: 100%;

  padding: 0;
  margin: 0;
  margin-bottom: -5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.form__legend-text-container {
  display: block;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-left: $container-padding--tablet + $container-padding-narrow--value - $legend-padding-left--tablet;
    padding-right: $container-padding--tablet + $container-padding-narrow--value - $legend-padding-right--tablet;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    padding: 0;
    margin: 0 auto;
  }
}

.form__legend-text {
  @include font-accent-regular(24px, 26px, $color--secondary);

  $legend-width: 187px;

  display: inline-block;
  position: relative;
  background: $background-color--main;

  margin: 0;
  padding-top: 20px;
  padding-right: $legend-padding-right;
  padding-bottom: 0;
  padding-left: $container-padding;

  transform: translateY(-37px);

  max-width: $legend-width + $container-padding + $legend-padding-right;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    max-width: $tablet-width;

    padding-left: $legend-padding-left--tablet;
    padding-right: $legend-padding-right--tablet;

    transform: translateY(-45px);
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-max-width;

    padding-left: $legend-padding-left--desktop;
    padding-right: $legend-padding-right--desktop;
  }

  &--small {
    padding-right: $legend-padding-right--small;
    max-width: $legend-width + $container-padding + $legend-padding-right--small;

    @media (min-width: $tablet-width) {
      max-width: $tablet-width;
      padding-right: $legend-padding-right--tablet;
    }

    @media (min-width: $desktop-width) {
      max-width: $desktop-max-width;

      padding-right: $legend-padding-right--desktop;
    }
  }
}

.form__label {
  @include font-accent-regular(16px, 18px, $color--main);
  text-transform: uppercase;

  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-icon {
  position: absolute;
  color: $color--main-accent;

  &--email {
    right: 35px;
    top: 17px;

    @media (min-width: $tablet-width) {
      right: 83px;
      top: 17px;
    }

    @media (min-width: $desktop-width) {
      right: 19px;
      top: 18px;
    }
  }

  &--phone {
    right: 33px;
    top: 14px;

    @media (min-width: $tablet-width) {
      right: 83px;
      top: 15px;
    }

    @media (min-width: $desktop-width) {
      right: 47px;
      top: 15px;
    }
  }
}

.form__input {
  border-width: 1px;
  border-color: $color--border-input;
  border-style: solid;
  border-radius: 0;

  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;

  @include font-accent-regular(16px, 18px, $color--main);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    padding-top: 10px;
    padding-left: 18px;
  }

  &::placeholder {
    color: $color--main;
    opacity: 1;
  }

  &:hover {
    border-color: $color--border-accent;
  }

  &:focus {
    border-color: $color--main;
    outline: none;

    & + .form__input-icon {
      color: $background-color--accent;
    }
  }

  &--accent {
    border-color: $color--border-accent;
  }

  &--text,
  &--number {
    flex-grow: 1;
    width: 170px;
    height: 44px;

    @media (min-width: $tablet-width) {
      height: 50px;
    }
  }

  &--number {
    /* Firefox */
    appearance: textfield;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &--invalid {
    border-color: $color--border-input--error;

    & + .form__input-icon {
      color: $color--border-input--error;
    }
  }

  &--textarea {
    width: 100%;
    height: 150px;

    padding-top: 8px;
    padding-right: 11px;
    padding-bottom: 8px;
    padding-left: 14px;

    margin-top: 5px;

    @media (min-width: $tablet-width) {
      height: 175px;

      padding-top: 10px;
      padding-left: 17px;

      margin-top: 0;
    }
  }
}

.form__submit-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__button-wrapper {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    margin-right: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 82px;
  }
}

.form__button {
  margin-bottom: 21px;
}

.form__comment {
  @include font-main(14px, 16px, $color--secondary);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;

    text-align: left;

    margin-top: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}
