.form-fieldset .form-fieldset__field {
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-bottom: 21px;
    }
  }
}

.form-fieldset__field {
  display: flex;
  flex-direction: row;
}

.form-fieldset__label {
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }

  &--closer-to-field {
    margin-right: 12px;
  }
}
