.latest-products {
  @media (min-width: $tablet-width) {
    border: 2px solid $background-color--secondary;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.latest-products__title {
  @include font-accent-regular(16px, 20px, $color--main-secondary);
  text-transform: uppercase;

  text-align: center;

  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;

    margin-bottom: 23px;

    width: 135px;
  }
}

.latest-products__text {
  @include font-main(12px, 16px, $color--main);

  text-align: center;

  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;

    width: 170px;
  }
}

.latest-products__button-wrapper {
  flex-grow: 1;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: end;
}
