.nav-list {
  @include list-reset();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-top: 1px solid $color--border-secondary;

  @media (min-width: $tablet-width) {
    border-top: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
  }

  &::after,
  &::before {
    @media (min-width: $desktop-width) {
      @include pseudo();
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
    }
  }

  &::after {
    @media (min-width: $desktop-width) {
      background-color: $background-color--tagline;
    }
  }

  &::before {
    @media (min-width: $desktop-width) {
      background-image: url("../img/index-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

.nav-list__item {
  padding-top: 22px;
  padding-bottom: 20px;

  border-bottom: 1px solid $color--border-secondary;

  display: block;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    border-bottom: 0;

    display: inline-block;
    width: unset;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
  }
}

.nav-list__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 35px;
  }
}

.nav-list__link {
  @include font-accent-medium(20px, 20px, $color--secondary);
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;

    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $color--accent;
  }

  &--active {
    @media (min-width: $tablet-width) {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: $background-color--accent;
    }

    @media (min-width: $desktop-width) {
      border-bottom-color: $color--accent;;
    }
  }
}
