.nav-toggle {
  width: 24px;
  height: 16px;

  border: 0;
  cursor: pointer;

  background-color: $background-color--main;

  position: relative;
}

.nav-toggle--closed {
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;

    height: 2px;
    width: 24px;

    background-color: $color--secondary;
    box-shadow: 0 8px 0 0 $color--secondary, 0 16px 0 0 $color--secondary;
  }
}

.nav-toggle--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;

    height: 2px;
    width: 24px;

    background-color: $color--secondary;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
