.other-products__title-wrapper {
  border-top: 2px solid $background-color--accent;
}

.other-products__title {
  @include font-accent-regular(24px, 24px, $color--secondary);

  display: inline-block;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0 $container-padding;

  background-color: $background-color--main;

  transform: translateY(-75%);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    padding: 0 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px 0 40px;
  }
}

.other-products__wrapper {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 49px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.other-products__list {
  @include list-reset();

  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;

    margin-right: 79px;
    margin-bottom: 0;
  }
}

.other-products__item {
  padding-bottom: 18px;

  border: none;
  border-top-width: 1px;
  border-style: solid;
  border-color: $color--other-product--border;

  &:last-child {
    border-bottom-width: 1px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-right: 37px;
    padding-bottom: 28px;
    padding-left: 38px;

    border-left-width: 1px;
    border-right-width: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-right: 1px;
    padding-bottom: 7px;
    padding-left: 0;

    border-left-width: 0;
    border-right-width: 0;
  }
}

.other-products__tagline {
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
