.other-product {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.other-product__title {
  @include font-accent-regular(16px, 16px, $color--main-accent);
  text-transform: uppercase;

  margin-top: 13px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    margin-top: 0;
    margin-bottom: 26px;

    width: 50%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    margin-bottom: 0;

    width: 325px;
  }
}

.other-product__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 50%;

    padding-top: 4px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: unset;

    flex-grow: 1;

    padding-top: 14px;
    justify-content: flex-start;
  }
}

.other-product__quantity {
  @include font-main(14px, 14px, $color--main);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.other-product__price {
  @include font-main(14px, 14px, $color--main);
  text-transform: uppercase;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    width: 92px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 84px;
    text-align: left;
  }
}

.other-product__button {
  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;

    align-self: flex-start;
  }
}
