.page-main {
  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }
}

.page-main__tagline {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: -6px;
  }
}

.page-main__cases {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }
}

.page-main__features {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }
}

.page-main__title {
  margin-top: 27px;
  margin-bottom: 37px;
}

.page-main__program-form {
  margin-bottom: 32px;
}
