.page-main__tagline {
  margin-bottom: 22px;
}

.page-main__cases {
  margin-bottom: 27px;
}

.page-main__features {
  margin-bottom: 42px;
}

.page-main__example {
  margin-bottom: 28px;
}

.page-main__title {
  margin-top: 27px;
  margin-bottom: 37px;
}

.page-main__program-form {
  margin-bottom: 32px;
}
