.page-footer__contacts-wrapper {
  position: relative;
}

.page-footer__contacts {
  background-color: $background-color--main;

  margin-bottom: 22px;

  @media (min-width: $desctop-width) {
    position: absolute;
    top: 95px;
    left: 0;
  }

  &--inner {
    padding-top: 28px;
    padding-bottom: 22px;

    margin-bottom: 0;

    background-color: $background-color--secondary;
  }
}

.page-footer__map-wrapper {
  background-color: $background-color--secondary-accent;

  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.page-footer__bottom {
  background-color: $background-color--secondary;
}
