.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $background-color--secondary;

    &::before {
      @include pseudo();
      top: 0;
      left: 0;

      height: 125px;
      width: 100%;

      background-color: $background-color--main;
    }
  }
}

.product__image-link {
  text-align: center;
  width: 50%;
  height: 122px;

  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 200px;

    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.product__image {
  width: 140px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 168px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
  }
}

.product__info-wrapper {
  width: 50%;

  margin-top: 2px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 4px;

    margin-bottom: 33px;
  }
}

.product__info {
  margin: 0;
}

.product__title-link {
  text-decoration: none;

  display: block;
  width: 76px;

  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 130px;

    text-align: center;

    align-self: center;

    margin-left: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.product__title {
  @include font-accent-regular(16px, 20px, $color--main-accent);
  text-transform: uppercase;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product__feature {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 8px;

    border-bottom: 1px solid $color--border-accent;
  }
}

.product__feature-name {
  @include font-main(12px, 16px, $color--main);

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.product__feature-value {
  @include font-main(12px, 16px, $color--main);

  margin: 0;

  &--price {
    text-transform: uppercase;
  }

  &--weight {
    @media (min-width: $tablet-width) {
      padding-right: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.product__button {
  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-right: 4px;
  }
}
