.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    background-color: $background-color--secondary;
  }
}

.product__image-link {
  height: 112px;
  width: 50%;

  @media (min-width: $tablet-width) {
    height: 200px;
    width: 100%;
  }
}

.product__info-wrapper {
  width: 50%;

  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-bottom: 33px;
  }
}

.product__title-link {
  text-decoration: none;

  display: block;
  width: 76px;

  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 125px;

    text-align: center;

    align-self: center;
  }
}

.product__title {
  @include font-accent-regular(16px, 20px, $color--main-accent);
  text-transform: uppercase;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desctop-width) {
    line-height: 21px;
  }
}

.product__feature {
  display: flex;
  justify-content: space-between;

  padding-top: 7px;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color--border-accent;
  }
}

.product__feature-name {
  @include font-main(12px, 16px, $color--main);

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.product__feature-value {
  @include font-main(12px, 16px, $color--main);

  &--price {
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.product__button {
  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
  }
}
