.slider__list {
  @include list-reset();
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__toggles-list {
  text-align: center;

  margin-top: 29px;
  margin-bottom: 4px;
}

.slider__toggles-item {
  @include font-accent-regular(16px, 20px, $color--secondary);
  text-transform: uppercase;

  background-color: $background-color--secondary-accent;

  border: none;
}
