.slider {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      @include pseudo();

      height: 463px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: $background-color--secondary-accent;

      z-index: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      height: 0;
    }
  }
}

.slider__list {
  @include list-reset();

  min-height: 230px;

  @media (min-width: $tablet-width) {
    position: relative;

    min-height: 527px;
  }
}

.slider__item {
  display: none;

  &--active {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: unset;
  }
}

.slider__list-wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;

    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.slider__img-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.slider__img {
  @media (min-width: $tablet-width) {
    width: auto;
    height: 520px;
  }
}

.slider__toggles-list {
  text-align: center;

  margin-top: 0;
  margin-bottom: 4px;

  position: relative;
  z-index: 1;

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: 81px;
  }
}

.slider__toggles-item {
  @include font-accent-regular(16px, 20px, $color--secondary);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  padding: 0;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding-bottom: 5px;
  }
}

.slider__track {
  width: 84px;
  height: 14px;

  display: inline-block;
  position: relative;

  background-color: $background-color--main;

  border: 1px solid $color--border-accent;
  border-radius: 6px;

  margin-left: 14px;
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;

    border: 0;
    border-radius: 6px;
    background-color: $color--slider-track;

    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 6px;
  }

  &::before {
    @include pseudo();
    position: absolute;
    top: 3px;
    width: 35px;
    height: 6px;

    background-color: $background-color--accent;

    border-radius: 6px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--active-before::before {
    left: 4px;
  }

  &--active-after::before {
    right: 4px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include pseudo();
      position: absolute;
      top: -13px;
      left: 200px;

      width: 33px;
      height: 33px;

      background-color: $background-color--accent;

      border: 14px solid $background-color--main;
      border-radius: 50%;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

      cursor: pointer;
    }
  }
}
