.social__list {
  @include list-reset();

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  min-width: 130px;
  justify-content: space-between;
}

.social__item {
  margin-bottom: 14px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.social__link {
  color: $color--icon;

  display: flex;
  align-items: center;
  height: 100%;
}
