.tagline__header-wrapper {
  background-image: url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: unset;
  }
}

.tagline__header {
  background-color: $background-color--tagline;

  padding-top: 27px;
  padding-bottom: 135px;

  @media (min-width: $tablet-width) {
    background: $background-color--main;

    padding-bottom: 0;
  }
}

.tagline__text-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 87px;
  }
}

.tagline__title {
  @include font-accent-regular($font-size-h1--accent-regular, $line-height-h1--accent-regular, $color--accent);

  text-align: center;

  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $color--secondary;
    font-size: $font-size-h1--accent-regular--tablet;
    line-height: $line-height-h1--accent-regular--tablet;

    text-align: left;

    width: 414px;
    margin-bottom: 41px;
  }
}

.tagline__text {
  @include font-accent-regular(14px, 14px, $color--accent);
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $color--secondary;
    font-size: 20px;
    line-height: 20px;

    text-align: left;

    margin-bottom: 20px;
  }
}

.tagline__image-wrapper {
  position: relative;

  display: flex;
  justify-content: center;

  padding-bottom: 135px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.tagline__image-container {
  position: absolute;
  top: -135px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
  }

  @media (min-width: $desctop-width) {
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
  }
}

.tagline__image {
  height: auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 709px;
  }

  @media (min-width: $desctop-width) {
    width: 499px;
  }
}

.tagline__button {
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-top: 29px;
    margin-left: 83px;
  }
}
