$background-color--main: #ffffff;
$color--main: #444444;
$color--main-accent: #222222;
$color--main-secondary: #111111;

$background-color--accent: #68b738;
$background-color--button-focus: #5eaa2f;
$background-color--button-secondary-focus: #ebebeb;
$color--accent: #ffffff;

$background-color--tagline: rgba(104, 183, 56, 0.85);

$background-color--secondary: #f2f2f2;
$color--secondary: #000000;

$background-color--secondary-accent: #eaeaea;

$color--border-main: #d9d9d9;
$color--border-accent: #cdcdcd;
$color--slider-track: #dcdcdc;

$color--border-input: #e7e7e7;
$color--border-secondary: #e6e6e6;
$color--border-input--error: #ff8282;
$color--border-list-input--hover: #bababa;

$color--icon: #666666;
$color--logo: #111111;

$color--catalog-plus: #d3d3d3;
