$font-face--main: "Arial", sans-serif;
$font-weight--main: 400;
$font-style--main: normal;

$font-face--accent-regular: "Oswald Regular", "Arial", sans-serif;
$font-weight--accent-regular: 400;
$font-style--accent-regular: normal;

$font-face--accent-medium: "Oswald Medium", "Arial", sans-serif;
$font-weight--accent-medium: 500;
$font-style--accent-medium: normal;
