$font-size-h1--accent-regular: 36px;
$line-height-h1--accent-regular: 36px;

$font-size-h1--accent-regular--tablet: 60px;
$line-height-h1--accent-regular--tablet: 60px;

$font-size-h2--accent-regular: 36px;
$line-height-h2--accent-regular: 40px;

$font-size-h2--accent-regular--tablet: 60px;
$line-height-h2--accent-regular--tablet: 60px;

$desktop-max-width: 1280px;

$tablet-width: 768px;
$desktop-width: 1440px;

$container-padding: 20px;
$container-padding--tablet: 30px;
$container-padding-narrow--value: 40;

$legend-padding-right: 24px;
$legend-padding-right--small: 14px;

$legend-padding-left--tablet: 35px;
$legend-padding-right--tablet: 40px;

$legend-padding-left--desktop: 40px;
$legend-padding-right--desktop: 40px;
