@mixin font-main($size: false, $line-height: false, $color: false) {
  font-family: $font-face--main;
  font-weight: $font-weight--main;
  font-style: $font-style--main;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@mixin font-accent-regular($size: false, $line-height: false, $color: false) {
  font-family: $font-face--accent-regular;
  font-weight: $font-weight--accent-regular;
  font-style: $font-style--accent-regular;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@mixin font-accent-medium($size: false, $line-height: false, $color: false) {
  font-family: $font-face--accent-medium;
  font-weight: $font-weight--accent-medium;
  font-style: $font-style--accent-medium;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
