@mixin font-main($size: false, $line-height: false, $color: false) {
  font-family: $font-face--main;
  font-weight: $font-weight--main;
  font-style: $font-style--main;

  @if ($size) {
    font-size: $size;
  }
  @if ($line-height) {
    line-height: $line-height;
  }
  @if ($color) {
    color: $color;
  }
}

@mixin font-accent-regular($size: false, $line-height: false, $color: false) {
  font-family: $font-face--accent-regular;
  font-weight: $font-weight--accent-regular;
  font-style: $font-style--accent-regular;

  @if ($size) {
    font-size: $size;
  }
  @if ($line-height) {
    line-height: $line-height;
  }
  @if ($color) {
    color: $color;
  }
}

@mixin font-accent-medium($size: false, $line-height: false, $color: false) {
  font-family: $font-face--accent-medium;
  font-weight: $font-weight--accent-medium;
  font-style: $font-style--accent-medium;

  @if ($size) {
    font-size: $size;
  }
  @if ($line-height) {
    line-height: $line-height;
  }
  @if ($color) {
    color: $color;
  }
}
